@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-family: "poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: #333;
}